---
import { type CollectionEntry, getCollection } from "astro:content";
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
    <p class="mb-4">
      Hi, I'm Mian Muhammad. I help turn ideas into reality by building scalable and efficient cloud-native applications. My passion lies in creating software that makes a difference in people's lives.

When I’m not coding or collaborating with teams, you’ll often find me exploring new technologies, reading about innovative trends, or enjoying quality time with friends and family. I believe in continuous growth and love diving into challenges that expand my skills and perspective.
		</p>
    <h1 class="title mb-6">🤔 Who am I!?</h1>
    <p>I'm a Full Stack Engineer with a passion for creating scalable, cloud-native applications. I specialize in JavaScript and TypeScript, leveraging frameworks like React, Next.js, Remix.js, and Node.js to bring ideas to life.

      My journey includes professional stints at Synavos Solutions, Maxenius, ArbataTech, Innovent, and PinkFly, building innovative solutions that solve real-world problems. I graduated with a degree in Computer Science from the esteemed University of Sargodha, Pakistan.

      Beyond work, I enjoy exploring cutting-edge tools and technologies, constantly refining my craft and expanding my expertise across the vast landscape of Computer Science. Check out my GitHub projects — if they resonate with you, a star would mean the world!
    </p>
    <br />
      <h1 class="title mb-6">⚙️ Skills</h1>
      <ul class="list-disc pl-4">
        <li>Languages: JavaScript, TypeScript</li>
        <li>Technologies: React, Next.js, Remix.js, Node.js, Django, Express.js, Nest.js, Redux Toolkit</li>
        <li>Databases: PostgreSQL, MySQL, MongoDB</li>
        <li>Soft Skills: Ownership, Attention to Detail, Teamwork, Communication, Problem Solving, Conflict Resolution</li>
      </ul>
    <br />
    <h1 class="title mb-6">📚 Education</h1>
    <p>University of Sargodha, Pakistan</p>
    <br />
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-6 text-xl text-accent"><a href="/posts/">Posts</a></h2>
		<ul class="space-y-4" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	{
		latestNotes.length > 0 && (
			<section class="mt-16">
				<h2 class="title mb-6 text-xl text-accent">
					<a href="/notes/">Notes</a>
				</h2>
				<ul class="space-y-4" role="list">
					{latestNotes.map((note) => (
						<li>
							<Note note={note} as="h3" isPreview />
						</li>
					))}
				</ul>
			</section>
		)
	}
</PageLayout>
